# Base de datos SQLite local (o PostgreSQL / MySQL)
DATABASE_URL="file:./dev.db"

# NextAuth Secret y URL de la aplicación
NEXTAUTH_SECRET="solarmc_webstore_secret_jwt_key_2026_super_secure"
NEXTAUTH_URL="http://localhost:3000"

# Proveedor Discord OAuth (Opcional - https://discord.com/developers/applications)
DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""

# Proveedor Google OAuth (Opcional - https://console.cloud.google.com/)
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
